{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type='text/css' href="{% static 'css/food-index.css' %}">
{% endblock %}

{% block content %}

<section class='food-form'>
    <div class='form-container'>
        <h1>Add a Food</h1>
    </div>
    <div class='add-food-btn'>
        <a href="{% url 'foods_create' %}">Click to add a food</a>
    </div>
</section>


<section class='all-foods'>
    <div class='food-container'>
        <h1>Your Foods</h1>
        <div class='foods-list'>
            {% for food in foods %}
                <h3>{{ food.name }}</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Calories</th>
                            <th>Protein</th>
                            <th>Carbs</th>
                            <th>Fat</th>
                            <th>Sugar</th>
                            <th>Sodium</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ food.calories }}</td>
                            <td>{{ food.protein }}g</td>
                            <td>{{ food.carbs }}g</td>
                            <td>{{ food.fat }}g</td>
                            <td>{{ food.sugar }}g</td>
                            <td>{{ food.sodium }}mg</td>
                        </tr>
                    </tbody>
                </table>
                <a href="{% url 'foods_delete' food.id %}" class='delete-btn'>Delete</a>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}