{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type='text/css' href="{% static 'css/food-index.css' %}">
{% endblock %}

{% block content %}

<section class='food-form'>
    <div class='form-container'>
        <h1>Add a Food</h1>
    </div>
    <div class='add-food-btn'>
        <a href="{% url 'foods_create' %}">Click to add a food</a>
    </div>
</section>


<section class='all-foods'>
    <div class='food-container'>
        <h1>Your Foods</h1>
        <div class='foods-list'>
            {% for food in foods %}
                <h2>{{ food.name }}, {{ food.calories }} cals</h2>
            {% endfor %}
            <a href="{% url 'food_delete' food.id %}" class='delete-btn'>Delete</a>
        </div>
    </div>
</section>

{% endblock %}