{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/food-log.css' %}">
{% endblock %}

{% block content %}

<section class='meals-container'>
    <h1>Your Meals</h1>

    <div class='breakfast'>
        <h1>Breakfast</h1>
        <h3>Add a new breakfast meal</h3>
        <a href="{% url 'breakfast_create' %}">Add</a>
    </div>
    <div class='lunch'>
        <h1>Lunch</h1>
        <a href="{% url 'foods_index' %}">Add Food</a>           
    </div>
    <div class='dinner'>
        <h1>Dinner</h1>
        <a href="{% url 'foods_index' %}">Add Food</a>
    </div>
    <div class='macro-total'>
        <h1>Total Macros</h1>
        <div class='total-table'>
            <table>
                <thead>
                    <tr>
                        <th>Calories</th>
                        <th>Protein</th>
                        <th>Carbs</th>
                        <th>Fat</th>
                        <th>Sugar</th>
                        <th>Sodium</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>total cals</td>
                        <td>total pro</td>
                        <td>total carbs</td>
                        <td>total fat</td>
                        <td>total sugar</td>
                        <td>total sodium</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}