{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/food-log.css' %}">
{% endblock %}

{% block content %}
<h1 class='title'>Your Meals</h1>
<div class="container">
    <div class='breakfast'>
        <h1>Breakfast</h1>
        <h3>Add a new breakfast meal</h3>
        <a href="{% url 'meal_create' %}" class='add-meal-btn'>Add</a>
        <div class='meal-list'>
            {% for meal in meals %}
                {% if meal.name == 'B' %}
                    <h1>{{ meal.get_name_display }} on {{ meal.date }}</h1>
                    <a href="{% url 'meal_details' meal.id %}" class='meal-deets'>View</a>
                    <hr>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class='lunch'>
        <h1>Lunch</h1>
        <h3>Add a new lunch meal</h3>
        <a href="{% url 'meal_create' %}" class='add-meal-btn'>Add</a>
        <div class='meal-list'>
            {% for meal in meals %}
                {% if meal.name == 'L' %}
                    <h1>{{ meal.get_name_display }} on {{ meal.date }}</h1>
                    <a href="{% url 'meal_details' meal.id %}" class='meal-deets'>View</a>
                    <hr>
                {% endif %}
            {% endfor %}
        </div>           
    </div>
    <div class='dinner'>
        <h1>Dinner</h1>
        <h3>Add a new dinner meal</h3>
        <a href="{% url 'meal_create' %}" class='add-meal-btn'>Add</a>
        <div class='meal-list'>
            {% for meal in meals %}
                {% if meal.name == 'D' %}
                    <h1>{{ meal.get_name_display }} on {{ meal.date }}</h1>
                    <a href="{% url 'meal_details' meal.id %}" class='meal-deets'>View</a>
                    <hr>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}