{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/food-log.css' %}">
{% endblock %}

{% block content %}

<section class='meals-container'>
    <h1>Your Meals</h1>
    <div class='breakfast'>
        breakfast
        <a href="{% url 'foods_index' %}">Add Food</a>
        <div class='b-table'>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Calories</th>
                        <th>Protein</th>
                        <th>Carbs</th>
                        <th>Fat</th>
                        <th>Sugar</th>
                        <th>Sodium</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>name</td>
                        <td>cals</td>
                        <td>pro</td>
                        <td>carbs</td>
                        <td>fat</td>
                        <td>sugar</td>
                        <td>sodium</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class='lunch'>
        lunch
        <a href="{% url 'foods_index' %}">Add Food</a>
        <div class='l-table'>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Calories</th>
                        <th>Protein</th>
                        <th>Carbs</th>
                        <th>Fat</th>
                        <th>Sugar</th>
                        <th>Sodium</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>name</td>
                        <td>cals</td>
                        <td>pro</td>
                        <td>carbs</td>
                        <td>fat</td>
                        <td>sugar</td>
                        <td>sodium</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class='dinner'>
        dinner
        <a href="{% url 'foods_index' %}">Add Food</a>
        <div class='d-table'>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Calories</th>
                        <th>Protein</th>
                        <th>Carbs</th>
                        <th>Fat</th>
                        <th>Sugar</th>
                        <th>Sodium</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>name</td>
                        <td>cals</td>
                        <td>pro</td>
                        <td>carbs</td>
                        <td>fat</td>
                        <td>sugar</td>
                        <td>sodium</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class='snacks'>
        snacks
        <a href="{% url 'foods_index' %}">Add Food</a>
        <div class='s-table'>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Calories</th>
                        <th>Protein</th>
                        <th>Carbs</th>
                        <th>Fat</th>
                        <th>Sugar</th>
                        <th>Sodium</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>name</td>
                        <td>cals</td>
                        <td>pro</td>
                        <td>carbs</td>
                        <td>fat</td>
                        <td>sugar</td>
                        <td>sodium</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class='macro-total'>
        macro total
        <div class='total-table'>
            <table>
                <thead>
                    <tr>
                        <th>Calories</th>
                        <th>Protein</th>
                        <th>Carbs</th>
                        <th>Fat</th>
                        <th>Sugar</th>
                        <th>Sodium</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>total cals</td>
                        <td>total pro</td>
                        <td>total carbs</td>
                        <td>total fat</td>
                        <td>total sugar</td>
                        <td>total sodium</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}