{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Hustle</title>
    <link rel="stylesheet" type='text/css' href="{% static 'css/base.css' %}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <div class='home-link'>
            <a href="/">Home</a>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'foods_index' %}">Food</a></li>
                <li><a href="{% url 'food_log' %}">Food Log</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>