main {
    display: flex;
    flex-direction: row;
}

h3 {
    margin-bottom: 5px;
}

.food-form {
    width: 50vw;
    height: 100vh;
    text-align: center;
    
}

.all-foods {
    width: 50vw;
    height: 100vh;
    
}

.food-container {
    text-align: center;
}

.test {
    display: flex;
    flex-direction: column;
    align-items: center;
}

th, td {
    padding: 3px;
}

.delete-btn {
    margin-top: 5px;
}

