body {
    background-color: rgb(40, 42, 54);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 46px;
    color: rgb(104, 197, 248);
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(104, 197, 248);
    border: rgb(36, 116, 248) solid 2px;
    padding: 20px;
    border-radius: 6px;
}

label {
    margin-top: 30px;
    margin-bottom: 5px;
}

.submit-btn {
    margin-top: 20px;
}